body {
    font-family: "Proxima Nova", sans-serif;
}

.wrapper {
    text-align: center;
}

img {
    width: 70px;
    height: 90px;
}

.Login_btn {
    position: absolute;
    top: 150;
    left: 45%;
    margin: auto;
    text-align: center;
    font-size: 200%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 0.6em 2em;
    margin: 0 0 1em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
.Login_btn:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.1, 1.1);
}
